doctype html
html
	head
		title Jade Intro
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		//- link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")

	body

		//- .container hello

		h1 Fill Murray

		img(src="http://www.fillmurray.com/600/400")
		p 600x400
	
		img(src="http://www.fillmurray.com/g/600/400")
		p greyscale 600x400

		img(src="http://placehold.it/600x400")
		p this is placehold.it