body

	//- include ./includes/section1.jade
	//- include ./includes/section2.jade
	//- include ./includes/section3.jade
	//- include ./includes/section4.jade

	include ./header.jade

	include ./footer.jade