.centredDiv {
	text-align: center;
	font-size: 200%;

	position: absolute;
	width: 100%;
	height: 100%;
	top: 40%;
	left: 0;
	margin:  0 auto;
}

p {
	font-size: 20px;
}

.centredDiv a {
	text-decoration: none;
	overflow: hidden;
	display: inline-block;
    position: relative;
    text-align: center;
    top: 5px;
}

.centredDiv a:after {
	content: 'linklink';
	position: absolute;
	background: red;
	height: 2px;
	width: 0%;
	left: 50%;
	bottom: 0;
	transition: .15s ease;
	transform: translateX(-50%);
}

.centredDiv a:hover:after {
	width: 100%;
}

.centredDiv a:visited {
	color: blue;
}

.centredDiv a:hover {
	color: orange;
	transition: .5s ease;
}