doctype html
html
	head
		title Random Bouncer
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		//- link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
		link(rel="stylesheet", href="css/style.css")

	body

		.container
			img(src="http://placehold.it/300x200")
			img(src="http://placehold.it/300x200")
			img(src="http://placehold.it/300x200")
			img(src="http://placehold.it/300x200")
			img(src="http://placehold.it/300x200")
			img(src="http://placehold.it/300x200")
			img(src="http://placehold.it/300x200")
			img(src="http://placehold.it/300x200")
			img(src="http://placehold.it/300x200")

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
		script(src="function.js")