doctype html
html
	head
		title Random Colour Function
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		//- link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
		link(rel="stylesheet", href="css/style.css")

	body

		.container
			img(src="http://placehold.it/300x200")
			img(src="http://placehold.it/300x200")
			img(src="http://placehold.it/300x200")
			img(src="http://placehold.it/300x200")
			img(src="http://placehold.it/300x200")
			img(src="http://placehold.it/300x200")
			img(src="http://placehold.it/300x200")
			img(src="http://placehold.it/300x200")
			img(src="http://placehold.it/300x200")

		.container
			a(href="#" data-color="00FFFF") 1 aqua
			a(href="#" data-color="7FFFD4") 2 aquamarine
			a(href="#" data-color="8A2BE2") 3 blueviolet
			a(href="#" data-color="A52A2A") 4 brown
			a(href="#" data-color="7FFF00") 5 chartreuse
			a(href="#" data-color="FF7F50") 6 coral
			a(href="#" data-color="6495ED") 7 cornflowblue
			a(href="#" data-color="DC143C") 8 crimson
			a(href="#" data-color="00FFFF") 9 cyan

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
		script(src="function.js")